
.ipynb_checkpoints/data_exploration-checkpoint.ipynb
.ipynb_checkpoints/model_training-checkpoint.ipynb
__pycache__/utils.cpython-37.pyc
data/grocery.tar
models/.ipynb_checkpoints/Untitled-checkpoint.ipynb
models/__pycache__/BertQA.cpython-37.pyc
models/__pycache__/QAheads.cpython-37.pyc
models/__pycache__/utils.cpython-37.pyc
.ipynb_checkpoints/model_training_SQuAD-checkpoint.ipynb
*.json
*.gz
*.csv
data/SubjQA/all/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
*.txt
data/SubjQA/all/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/books/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/books/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/books_subj/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/books_subj/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/electronics/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/electronics/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/grocery/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/grocery/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
*.5000
data/SubjQA/imdb/subjdata.README.1.0
data/SubjQA/movies/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/movies/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/._poldata.README.2.0
data/SubjQA/.ipynb_checkpoints/subj_analysis-checkpoint.ipynb
data/SubjQA/poldata.README.2.0
data/SubjQA/top_N.png
data/SubjQA/restaurants/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/restaurants/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/subj_analysis.ipynb
data/SubjQA/tripadvisor/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/tripadvisor/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/trustyou/cached_dev_bert-large-cased-whole-word-masking-finetuned-squad_384
data/SubjQA/trustyou/cached_dev_bert-large-cased-whole-word-masking_384
data/SubjQA/trustyou/cached_train_bert-large-cased-whole-word-masking-finetuned-squad_384
*.pyc
*.png
.ipynb_checkpoints/debugging-checkpoint.ipynb
.ipynb_checkpoints/results_analysis-checkpoint.ipynb
saved_models/distilbert_cased_linear___multitask_2_classic_subjqa
saved_models/distilbert_cased_linear___multitask_2_simple_subjqa
saved_models/distilbert_linear___singletask__classic_subjqa_multiple_per_epoch
saved_models/distilbert_linear___singletask__classic_subjqa_multiple_per_epoch_sbj_class
saved_models/distilbert_linear__singletask_normal_classic_subjqa_multiple_per_epoch_dom_class_unif
.~results_analysis.ipynb
saved_models/distilbert_linear__multitask_2_normal_classic_subjqa_multiple_per_epoch_qa_domain_unif
saved_models/distilbert_linear__singletask_normal_advsimple_combined_multiple_per_epoch_sbj_class__unif
saved_models/distilbert_linear__singletask_normal_advsimple_subjqa_multiple_per_epoch_dom_class__unif
saved_models/distilbert_linear__singletask_normal_classic_combined_multiple_per_epoch_sbj_class__unif
saved_models/distilbert_linear__singletask_normal_classic_subjqa_multiple_per_epoch_dom_class__unif
saved_models/distilbert_linear__singletask_normal_classic_subjqa_multiple_per_epoch_sbj_class__unif
saved_models/distilbert_linear__singletask_normal_grl_subjqa_multiple_per_epoch_sbj_class__unif
saved_models/distilbert_linear__multitask_1_normal_advsimple_subjqa_multiple_per_epoch_qa__unif
slurm-1403173.out
slurm-1403272.out
saved_models/distilbert_linear__singletask_normal_classic_subjqa_multiple_per_epoch_qa__unif_finetune_all
saved_models/distilbert_linear__singletask_normal_classic_subjqa_multiple_per_epoch_sbj_class__unif_
saved_models/distilbert_linear__singletask_normal_classic_subjqa_multiple_per_epoch_qa__unif_sequential_transfer
saved_models/distilbert_linear_highway_singletask_normal_classic_subjqa_multiple_per_epoch_qa__unif_sequential_transfer_oracle_oracle
slurm-1404323.out
batch_sequential_transfer_oracle_oracle_subjqa.sh
